
<h1>
  Cadastro de produtos
</h1>
  <form class="main-form" #formulario="ngForm" (ngSubmit)="create(formulario)">
    <div class="row">
        <div class="col">
            <label for="descricao">Descrição</label>
            <input type="text" [(ngModel)]="produto.descricao" id="descricao" name="descricao" class="form-control" required
            minlength=3 maxlength=50>
        </div>

        <div class="col">
          <label>Unidade de Medida</label>
            <select [(ngModel)]="produto.unmedida" type="text" id="unmedida" class="form-control" name="unmedida">
              <option default>selecione</option>
              <option>Un</option>
              <option>Kg</option>
              <option>M2</option>
            </select>
        </div>
    </div>

    <div class="row">
      <div class="col">
          <label for="ncm">Codigo Ncm</label>
          <input class="form-group" type="text" [(ngModel)]="produto.ncm"id="ncm" name="ncm" class="form-control" required
          minlength=8 maxlength=8>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formulario.invalid">Cadastrar</button>
    <button type="button" (click)="cancel()" class="btn btn-danger">Cancelar</button>
</form>
